@charset "UTF-8";
/* Styles .css file for Nijigasaki Crash Course */

a:link{ 
	text-decoration: none; 
}
a:visited{
	text-decoration: none; 
}
a:hover{
	text-decoration: none; 
}
a:active{
	text-decoration: none; 
}

tr:hover{
	background-color: #efc3c0;
}

body{
	font-family: "soleil", sans-serif;
	font-weight: 400;
	font-style: normal;
}

img{
	vertical-align: middle;
}

table, th, td{
	border: 1px solid;
}

table{
	width: 100%;
	border-collapse: collapse;
	padding: 25px;
}

td{
	text-align: center;
	padding: 10px;
}

h1{
	font-family: "soleil", sans-serif;
	font-weight: 700;
	font-style: normal;
}

p{
	font-family: "soleil", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.header_bar{
	background-color: #efc3c0;
	padding: 15px;
}

.kasumi_link{
	background-color: #f7f064;
}

.ai_link{
	background-color: #eb6001;
}

.karin_link{
	background-color: #034099;
}

.lanzhu_link{
	background-color: #efc3c0;
}

.shioriko_link{
	background-color: #2c9e7e;
}

.mia_link{
	background-color: #aaa798;
}

.name_text{
	vertical-align: middle;
	font-family: "soleil", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 70px;
	color: white;
}